@theme "theme/not-so-rounded.rasi"

configuration {
    modi:               "drun,emoji,session:~/.config/rofi/modes/session";
    display-drun:       " ";
    display-emoji:      " ";
    display-session:    " ";
}
